header {
    background-color:white;
    margin:0;
    padding:0;
    height:75px;
    border-bottom:50px;
    border-left:100px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}


body {
    margin:0;
    padding:0;
    background:white;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
section {
    background: whitesmoke;
    margin-left:10%;
    margin-right:10%;
    margin-top:0%;
    margin-bottom:0%;
    padding:0;
}

.main-content{
    background-image: url(../images/natural_paper.png);
    margin:0;
    padding:0;
    height:95%;
    width:100%;
    height:auto;
    position:relative;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#bio-image {
    width:175px;
    position: relative;
    float:left;
    margin-left:120px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding:0;
    border-top:50px;
    border-top:#4aaaa5;
    border-style:solid;
    width: 100%;
    background-color: #666666;
    height:40px;
    color:white;
    font-size:12px;
    text-align: center;
}

.title-1 {
    height: 90%;
    display: inline-block;
    background: #4aaaa5;
    color: white;
    font-size: 35px;
    text-align: left;
    margin-left: 300px;
    margin-right: 450px;
}

.title-2{
height: 90%;
display: inline-block;
background: #4aaaa5;
color: white;
font-size: 35px;
text-align: left;
margin-left: 352px;
margin-right: 178px;;
}

.links-1{
    height:100%;
    display:inline-block;
    text-align:right;
    color: grey;
    font-size:20px;
    margin-left:445px;
}

.links-2{
    height:100%;
    display:inline-block;
    text-align:right;
    color: grey;
    font-size: 20px;
    margin-left: 69px;
}

#about{
    color:#4aaaa5;
    font-weight:bold;
    size:35px;
    border-bottom:1px;
    border-bottom-color: #666666;
    border-top-color:whitesmoke;
    border-left-color:whitesmoke;
    border-right-color:whitesmoke;
    border-style:solid;
    margin-left:118px;
}

.contact-title{
    height:100%;
    display:inline-block;
    background:#4aaaa5;
    color:white;
    font-size:16px;
    text-align:left;
    margin-left: 18px;
    margin-right: 150px;
   }

form {
    margin-top: 75px;
    text-align: center;
}

.form-control{
    width:500px;
    padding: 10px;
    margin-right: 25%;
    margin-left: 25%;
}

.form-text {
    text-align: left;
    margin-left:50%;
}

ul {
    margin:3px;
    display:inline-block;
    padding:3px;
 }

 .container {
    position: relative;
    width:150px;
    margin:0 auto;
    display:inline-block;
    margin:30px;
  }
  
 .text-block1 {
    position: absolute;
    bottom: -35px;
    right: 0px;
    width: 150px;
    line-height: 5px;
    background-color: #4aaaa5;
    color: white;
    padding: 0;
    margin-bottom: 40px;
    text-align: center;
  }
  .text-block2 {
    position: absolute;
    bottom: -35px;
    right: 0px;
    width: 150px;
    line-height: 5px;
    background-color: #4aaaa5;
    color: white;
    padding: 0;
    margin-bottom: 40px;
    text-align: center;
  }
  .text-block3 {
    position: absolute;
    bottom: -35px;
    right: 0px;
    width: 150px;
    line-height: 5px;
    background-color: #4aaaa5;
    color: white;
    padding: 0;
    margin-bottom: 40px;
    text-align: center;
  }
  .text-block4 {
    position: absolute;
    bottom: -35px;
    right: 0px;
    width: 150px;
    line-height: 5px;
    background-color: #4aaaa5;
    color: white;
    padding: 0;
    margin-bottom: 40px;
    text-align: center;
  }
  .text-block5 {
    position: absolute;
    bottom: -35px;
    right: 0px;
    width: 150px;
    line-height: 5px;
    background-color: #4aaaa5;
    color: white;
    padding: 0;
    margin-bottom: 40px;
    text-align: center;
  }